body {
  background-color: #ded0c2;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
.section {
  display: flex;
  justify-content: center;
}

/* .section1 {
  display: flex;
  justify-content: center;
} */

.nameIntro {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.summary {
  font-size: 24px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
 }
 
 /* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
 }
 
 /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  font-weight: bold;
   /* color: black; */
 }
 
 /* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
 }

#aboutBlock {
  text-align: center;
 }

#contactInfo {
  text-align: center;
}

 /* Placeholders for actual projects completed in class */
#flex-projects {
  display: flex;
  margin: 20px;
  flex-wrap: nowrap;
  justify-content: center;
}

#flex-projects > div {
  padding: 40px;
  margin: 10px;
  background-color: #a59284;
  color: white;
    width: 80px; 
}

