body {
  background-color: #ebebeb;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  /* margin: 80px; 
  padding: 80px; */
}

.section1 {
  color: #3c3635;
  margin: 0; 
  padding: 0; 
  text-align: center;
  height: auto;
  width: auto;
}

/* will eventually replace */
#sect1 > #pink-render {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative; */
  height: 100%;
  width: 100%; 
  padding: 0;
  margin: 0;
} 

.section1 > .nameIntro {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.section1 > .ses {
  font-size: 24px; 
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.title {
  text-align: center;
  padding: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #3c3635;
}

/* Nav menu*/
.topnav {
  background: #cfc5bb;
  display: flex;
  overflow: hidden;
  /* position: fixed; */
  top: 0px;
  padding: auto;
  margin: auto;
  width: 100%;
 }
 
.topnav a {
  display: flex;
  float: right;
  text-align: center;
  color: #3c3635;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
 }
 
.topnav a:hover {
  background-color: #ddd;
  font-weight: bold;
 }
 
.topnav a.active {
  background-color: #ddd;
  color: black;
 }

/* 3 sections */ 
.mainTitle {
  color: #3c3635;
  text-align: center;
  justify-content: center;
}
/* .Section {
  display: flex;
  justify-content: center; 
  width: auto;
  height: auto;
  left: auto;
  right: auto;
} */

#aboutBlock {
  text-align: center;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
}

#contactInfo {
  text-align: center;
  font-size: 40px;
  justify-content: center;
}

/* Projects section */
#flex-projects {
  display: flex;
  justify-content: center; 
}
.flexText {
  width: 55%;
  font-size: 30px;
  text-align: center;
}

#weatherImg {
  width: 60%;
  justify-content: center;
}
#giphyDog {
  width: 50%;
  justify-content: center;
}

/* w3 schools resource */
.kawaiiCloudy:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
}
 
.footer a.active {
  background-color: #ddd;
  color: black;
} 

img {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  width: 40px; 
}

img:hover {
  box-shadow: 0 0 2px 1px #c7baa8;
}

hr.solid {
  border-top: 2px solid #3c3635;
  width: 90px;
}

.footerMadeBy {
  font-size: 15px; 
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.randomEndpoint {
  width: 75%;
}

/* WEATHER APP*/
.weatherApp > .city, .degrees, .img {
  /* background-image: linear-gradient(to right, #fee5e1, #6096fd); */
  text-align: center;
  font-size: 18px; 
}
.kawaiiCloudy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


/* MOBILE VIEW */
@media only screen and (max-width: 576px) {
  body {
    width: 100%
  }
  .topnav {
    display: flex;
    justify-content: center;
    width: auto;
    right: 0;
    left: 0;
  }

  #flex-projects {
    flex-wrap: wrap;
    padding: 30px;
    margin: 10px;
    width: 80%;
  }
  #sect1 > #pink-render {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* position: relative; */
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;
  } 
  .section1 > .nameIntro {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
  }
  
  .section1 > .ses {
    font-size: 18px; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }

  #aboutBlock {
    font-size: 13px;
  }

  #contactInfo {
    font-size: 13px;
  }
}  
/* ---------------------------------------*/
/* TABLET VIEW */
/* ---------------------------------------*/

@media only screen and (min-width: 768px){
  body {
    width: 100%
  }
  .topnav {
    display: flex;
    justify-content: center;
    width: 500;
    height: auto;
    right: 30px;
    left: 30px;
  }

  #flex-projects {
    flex-wrap: wrap;
    padding: 40px;
    margin: 30px;
    width: 80%;
  }
  #sect1 > #pink-render {
    background-image: center;
    width: 500px;
    height: auto;
  }

  .section1 > .nameIntro {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  .section1 > .ses {
    font-size: 24px; 
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  #aboutBlock {
    font-size: 13px;
    width: 80%;
    padding: 40px;
    margin: 35px;
    text-align: center;
  }

  #contactInfo {
    font-size: 13px;
    /* width: 80%; */
    /* padding: 40px;
    margin: 30px; */
    text-align: center;
  }
}

/* LAPTOP VIEW */
@media only screen and (min-width: 992px) {
  body {
    width: 100%
  }
  .topnav {
    display: flex;
    justify-content: center;
    width: auto;
    right: 0;
    left: 0;
  }

  #flex-projects {
    flex-wrap: wrap;
    padding: 30px;
    margin: 50px;
    width: 80%;
    justify-content: center;
  }

  #sect1 > #pink-render {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* position: relative; */
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;
  } 
  .nameIntro {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
  }
  
  .ses {
    font-size: 18px; 
    text-align: center;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }

  #aboutBlock {
    font-size: 16px;
    text-align: center;
    width: 80%;
    padding: 40px;
    margin: 35px;
  }
}

/* LARGE SCREEN VIEW */
@media only screen and (min-width: 1200px) {
  body {
    width: 100%
  }
  .topnav {
    display: flex;
    justify-content: center;
    width: auto;
    right: 0;
    left: 0;
  }

  #flex-projects {
    flex-wrap: wrap;
    padding: 30px;
    margin: 50px;
    width: 80%;
    justify-content: center;
  }
  #pink-render {
    background-image: auto;
  }
  .nameIntro {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
  }
  
  .ses {
    font-size: 18px; 
    text-align: center;
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }

  #aboutBlock {
    font-size: 16px;
    text-align: center;
    padding: 50px;
    margin: 35px;
    border: 20px;
  }

  #about {
    text-align: center;
  }
}



/*image source: https://unsplash.com/photos/5JE9AQqWo_Q > https://unsplash.com/@alperguzeler*/