body {
  background-color: #ebebeb;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  margin: 0;
  padding: 100px;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #3c3635;
}
.section {
  display: flex;
  justify-content: center;
  padding: 100px; 
}

.section1 {
  width: auto;
  height: auto;
  color: #3c3635;
  /* margin: 0; */
  padding: 100px; 
}

.nameIntro {
  font-size: 40px;
  font-weight: bold;
  color: #3c3635;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.summary {
  font-size: 24px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  /* background-color: #cbcac5; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 90%;
 }
 
 /* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  color: #3c3635;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
 }
 
 /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  font-weight: bold;
   /* color: black; */
 }
 
 /* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
 }

#aboutBlock {
  text-align: center;
 }

#contactInfo {
  text-align: center;
}

 /* Placeholders for actual projects completed in class */
#flex-projects {
  display: flex;
  margin: 20px;
  /* flex-wrap: nowrap; */
  justify-content: center;
  padding: 100px; 
}

#flex-projects > div {
  padding: 40px;
  margin: 10px;
  background-color: #a59284;
  color: white;
    width: 80px; 
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  /* flex-direction: row; */
}

/* .footer a {
  display: flex;
  /* color: black; */
  /* padding: 14px 16px; */
  /* text-decoration: none; */
  /* font-size: 15px; */
  /* flex-direction: row;
} */ 

/* .footer a:hover {
  background-color: #ddd;
  font-weight: bold;
  color: black;
 } */
 
.footer a.active {
  background-color: #ddd;
  color: black;
} 

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 20px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px #c7baa8;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #3c3635;
  width: 90px;
}