body {
  background-color: #ebebeb;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  margin: 0px; 
  padding: 100px;
}

.section1 {
  /* display: flex; */
  width: auto;
  height: auto;
  color: #3c3635;
  margin: 10px;
  padding: 100px; 
  text-align: center;
  /* justify-content: center; */

}

.nameIntro {
  font-size: 40px;
  font-weight: bold;
  /* padding: 50px; 
  margin: 0; */
  text-align: center;
}

.summary {
  font-size: 24px; 
  /* padding: 50px; 
  margin: 0; */
  text-align: center;
}

.title {
  text-align: center;
  padding: 50px;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #3c3635;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  /* background-color: #cbcac5; */
  position: fixed;
  top: 0;
  width: 90%;
 }
 
 /* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  color: #3c3635;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
 }
 
 /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  font-weight: bold;
   /* color: black; */
 }
 
 /* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
 }

.section {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  color: #3c3635;
  /* margin: 0px; */
  /* padding: 20px;  */
}

#about {
  text-align: center;
  /* padding: 100px;
  width: auto;
  height: auto; 
  margin: 0; 
  background-color: #fbf3f0; */
 }

#contactInfo {
  text-align: center;
  /* padding: 100px;
  width: auto;
  height: auto;
  margin: 0; */
}

 /* Placeholders for actual projects completed in class */
/* #flex-projects {
  display: flex;
  padding: 0; 
  width: auto;
  height: auto;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
} */

#flex-projects > div {
  padding: 40px;
  margin: 10px;
  background-color: #a59284;
  color: white;
    width: 80px; 
}

/* .flex-projects {
  display: flex;
  flex-wrap: wrap;
} */

/* .footer {
  display: flex;
  overflow: hidden;
  justify-content: center;
  /* flex-direction: row; */
} */

/* .footer a {
  display: flex;
  /* color: black; */
  /* padding: 14px 16px; */
  /* text-decoration: none; */
  /* font-size: 15px; */
  /* flex-direction: row;
} */ 

/* .footer a:hover {
  background-color: #ddd;
  font-weight: bold;
  color: black;
 } */
 
.footer a.active {
  background-color: #ddd;
  color: black;
} 

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 40px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px #c7baa8;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #3c3635;
  width: 90px;
}

.contactInfo {
  padding: 0; 
  margin: 0;  
  width: 0;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 700px) {
  body {
    width: 100%
  }
  .topnav {
    display: flex;
    justify-content: center;
    width: auto;
  }
#flex-projects {
  flex-wrap: wrap;
}

}  